.settings-bar-container {
    .settings-bar {
        display: flex;
        flex-direction: column;

        .mock-data-sets-dropdown-list {
            width: 100%;
        }
    }

    .toggle-settings-bar-button {
        width: 100%;

        &__open {
            .current-mock-data-set-name {
                background-color: var(--color-hierophant-green);
                color: var(--color-sunshine-yellow);
                padding: 0 var(--indent-size-xs);
            }
        }

        &__close {
            background-color: var(--color-king-crimson);
            color: var(--color-sunshine-yellow);
        }
    }
}