.demo-page {
    @import '../SettingsBar/styles';

    .responsive-grid-layout-container {
        padding: var(--indent-size-s);

        .responsive-grid-layout {
            grid-gap: var(--indent-size-s);

            &--item {
                align-items: center;
                background-color: var(--color-sunshine-yellow);
                border: var(--border-size-s) solid var(--color-hierophant-green);
                color: var(--color-hierophant-green);
                display: flex;
                font-weight: bold;
                font-size: var(--font-size-xxl);
                justify-content: center;
            }
        }
    }
}